{#
/*
 * This file is part of the Maker plugin
 *
 * Copyright (C) 2016 LOCKON CO.,LTD. All Rights Reserved.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
{% extends '@admin/styleguide_frame.twig' %}

{% set menus = ['product', 'maker'] %}

{% block title %}{{ 'admin.plugin.maker.title'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.plugin.maker.sub_title'|trans }}{% endblock %}
{% block stylesheet %}
    <style type="text/css">
        .attention {
            color: #f00;
        }

        .sortable_list .icon_sortable {
            width: 2%;
        }

        .box-title-maker a:last-child {
            font-weight: bold;
        }

        .box-title-maker a:link, .box-title-maker a:visited, .box-title-maker a:hover, .box-title-maker a:active {
            color: #444;
        }
    </style>

{% endblock stylesheet %}

{% block javascript %}
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.core.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.widget.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.mouse.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.sortable.min.js', 'admin') }}"></script>
    <script>
        var addButton = '{{ 'admin.plugin.maker.maker.add'|trans }}';
        var editButton = '{{ 'admin.plugin.maker.maker.update'|trans }}';
        var modalError = '{{ not form.vars.valid }}';
        $(function () {
            var myModal = $('#add-modal');
            if (modalError) {
                myModal.modal();
            }

            var oldRanks = [];
            // 画面の中のrank一覧を保持
            $(".sortable-container > .sortable-item").each(function () {
                oldRanks.push(this.dataset.rank);
            });

            // reverse sort
            oldRanks.sort(function (a, b) {
                return a - b;
            }).reverse();

            $(".sortable-container").sortable({
                items: '> .sortable-item',
                cursor: 'move',
                update: function (e, ui) {
                    $("body").append($('<div class="modal-backdrop show"></div>'));
                    updateRank();
                }
            });

            var updateRank = function () {
                // 並び替え後にrankを更新
                var newRanks = {};
                var i = 0;
                $(".sortable-container > .sortable-item").each(function () {
                    newRanks[this.dataset.makerId] = oldRanks[i];
                    i++;
                });

                $.ajax({
                    url: '{{ url('admin_plugin_maker_move_sort_no') }}',
                    type: 'POST',
                    data: newRanks
                }).done(function (data) {
                    $(".modal-backdrop").remove();
                }).fail(function () {
                    alert('fail');
                    $(".modal-backdrop").remove();
                });
            };

            $('.edit').on('click', function (e) {
                e.preventDefault();
                var makerId = $(this).data('id');
                var makerName = $(this).data('name');
                var editUrl = $(this).data('url');

                $('#maker_name').val(makerName);
                $('#maker_id').val(makerId);
                $('#form1').attr('action', editUrl);
                $('button#add-button-submit').text(editButton);
                myModal.modal();
            });

            // Clear old data
            myModal.on('hidden.bs.modal', function (e) {
                var modal = $(this);
                modal.find('#maker_name').val('').css('background-color', '#fff');
                modal.find('#maker_id').val('');
                modal.find('#form1').attr('action', '');
                modal.find('button#add-button-submit').text(addButton);
                modal.find('.attention').hide();
                if (modalError) {
                    window.location.href = "{{ url('admin_plugin_maker_index') }}";
                }
            });
        });

        function changeAction(action) {
            document.form1.action = action;
        }
    </script>
{% endblock %}

{% block main %}
    <div class="modal fade" id="add-modal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form role="form" class="form-horizontal" name="form1" id="form1" method="post">
                <div class="modal-content">
                    <div class="modal-body">
                        {{ form_widget(form._token) }}
                        {{ form_widget(form.name, {attr: {placeholder: 'メーカー名', class: 'form-control'}}) }}
                        {{ form_errors(form.name) }}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-ec-conversion"
                                id="add-button-submit">{{ 'common.label.save'|trans }}</button>
                        <button type="reset" data-dismiss="modal"
                                class="btn btn-ec-sub">{{ 'admin.common.label.cancel'|trans }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="card rounded border-0 mb-4">

                </div>
                <div class="card rounded border-0 mb-4">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12">
                                <a id="add-button" class="btn btn-default btn-ec-regular" data-toggle="modal"
                                   data-target="#add-modal">{{ 'admin.plugin.maker.maker.register'|trans }}</a>
                            </div>
                        </div>
                    </div>
                    {% if Makers|length > 0 %}
                        <div class="card-body p-0">
                            <div class="card rounded border-0 mb-2" id="maker_list">
                                <ul class="list-group list-group-flush sortable-container">
                                    {% for Maker in Makers %}
                                        <li class="list-group-item sortable-item" data-rank="{{ Maker.sort_no }}"
                                            data-maker-id="{{ Maker.id }}">
                                            <div class="row justify-content-around mode-view">
                                                <div class="col-auto d-flex align-items-center">
                                                    <i class="fa fa-bars text-ec-gray"></i>
                                                </div>
                                                <div class="col d-flex">
                                                    <a class="edit" data-id="{{ Maker.id }}"
                                                       data-name="{{ Maker.name }}" href="#"
                                                       data-url="{{ url('admin_plugin_maker_index', {id: Maker.id}) }}">{{ Maker.name }}</a>
                                                </div>
                                                <div class="col-auto text-right">
                                                    <a class="edit" data-id="{{ Maker.id }}"
                                                       data-name="{{ Maker.name }}" href="#"
                                                       data-url="{{ url('admin_plugin_maker_index', {id: Maker.id}) }}"
                                                       data-toggle="tooltip" title="{{ 'common.label.edit'|trans }}">
                                                        <i class="fa fa-pencil fa-lg text-secondary"
                                                           aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                                <div class="col-auto text-right">
                                                    {% set delete_action = url('admin_plugin_maker_delete', {id: Maker.id}) %}
                                                    <a href="{{ delete_action }}" {{ csrf_token_for_anchor() }}
                                                       data-method="delete"
                                                       data-message="{{ 'admin.plugin.maker.delete.confirm'|trans }}"
                                                       data-toggle="tooltip" title="{{ 'common.label.delete'|trans }}">
                                                        <i class="fa fa-close fa-lg text-secondary"
                                                           aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% else %}
                        <div class="card-body p-4">
                            <div class="text-center text-muted">{{ 'admin.plugin.maker.maker.no_records'|trans }}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
